/* 
styles.css
- styling for natsurii's landing page  

author: Natsurii (@natsurii)
creation date: 2022-08-04
*/

/* BASE STYLE */
:root {

    /* color palette */
    --black: #242423;
    --white: #e8eddf;
    --gray: #333533;
    --primary: #f5cb5c;
    --secondary: #cfdbd5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 61.5%;
}

body {
    color: var(--black);
    background: var(--white);
    font-size: calc(1.6rem + .5vw);
    font-family: 'Satoshi', sans-serif;
}

h1 {
    font-size: 9.6rem;
    font-weight: bolder;
}
/* HEADER */
header {
    padding: 5rem 15%;
}

/* HERO (banner) */
.hero {
    padding: 0 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: min(16px, 5em);
    align-items: center;
    justify-content: center;
}
.left {
    
    flex: 1 0 60%;
}
.left > h1 {
    flex-shrink: 1;
    margin: 2rem auto;
    line-height: 0.8;
}

.right {
    flex-shrink: 0;
    margin: 0 auto;
}
#fig {
    height: calc(250px + 10vw);
}

.fadeInText {
    animation: fadeIn 2s;
}

/* INTEREST */

.interests {
    margin-top: 5em;
    padding: 5rem 15%;
    text-align: center;
    background: rgb(232,237,223);
background: linear-gradient(180deg, rgba(232,237,223,1) 0%, rgba(245,203,92,1) 41%, rgba(245,203,92,1) 100%);
}

.card-container {
    padding: 5rem;
    display: flex;
    gap: 36px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 200px;
    text-align: center;
    border-radius: 36px;
    box-shadow: 10px 10px 21px rgba(51, 53, 51, 0.4);
    align-items: center;
    justify-content: center;
}

.card img { 
    flex: 0 auto;
    max-height: 300px;
    width:90%;
}

.card h5 {
    margin-top: auto;
}

/* Attainment */

.attainment {
    padding: 5rem 15%;
}

.educ-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.school {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
    padding: 2.5rem;
}

.school-info {
    width: 25em;
    padding: 1rem;
}

.school-info > p {
    font-size: 1.4rem;
    margin-left: auto;
}
.school-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 15px;
    box-shadow: 10px 10px 21px rgba(51, 53, 51, 0.4);
}

footer {
    padding: 2rem;
    text-align: center;
    color: var(--white);
    font-size: 1.2rem;
    background: var(--gray);
}